

*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins' sans-serif;

}
.slide-conteneur {
         margin-top: 100px;
         width: 100%;
         display: flex;
         justify-content: center;   
}


.mai{
    width: 95%;
    background-image: url("../image/secursys-image1.jpg");
  background-size: cover; /* comite-directeur.jpg Ajuste l'image pour qu'elle couvre tout l'arrière-plan */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  margin-left: 20px;

}

.diapo{
    position: relative;
    overflow: hidden;
}

.elements{
    display: flex;
}

.element{
    flex: 1 0 100%;
    position: relative;
}

.element > img{
    width: 50%;
    height: 330px;
    padding-top: 60px;
    padding-left: 20%;
}
.caption{
    width: 80%;
    position: absolute;
    top: 80%;
    left: 74%;
    height: 400px;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.0);
    display: inline-block; /* Nécessaire pour que le padding soit appliqué */
}
.caption h2 {
font-size: 40px;
color: white;
letter-spacing: 1px;
padding-left: 10px;

}
.caption p {
font-size: 30px;
color: white;
padding-top: 20px;
}
 .caption a {
       padding: 8px;
        font-size: 30px;
        color: white;
        display: inline-block; /* rgba(255, 0, 0, 0.8); Nécessaire pour que le padding soit appliqué */
        background-color: blue;
        cursor: pointer;
        height: 60px;
        border: 2px solid green;
        border-radius: 10px;
        margin-top: 40px;
}
 .caption a:hover {
       color: black;
}

#nav-gauche, #nav-droite{
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    color: violet;
    font-size: 2rem;
    cursor: pointer;
    background-color: black;
}
#nav-droite{
  right: 68px;
}

#nav-gauche{
  left: 60px;
}


/*modification slide */


/*  debut barre latérale */
.conteneur2{
    
    height: 500px;
    width: 300px;
    
}
.ban-container {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    margin: 20px auto; /* Ajoute un espacement autour */
}

.ban {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    background-color: #6a1b9a; /*color: white; Violet assombri */
    
    border-radius: 8px; /* Coins arrondis */
    padding: 5px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.0); Ombre pour un effet visuel */
    width: 100%; /* Prend toute la largeur du conteneur parent */
    max-width: 300px; /* Largeur maximale */
}

.newsletter{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
   
}

.newsletter iframe{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    cursor: pointer;
   
}
.icon-social {
    display: flex;
    justify-content: space-evenly; /* Espacement uniforme */
    align-items: center;
    padding: 10px 0;
    background-color: #333; /* Fond sombre */
}

.icon-social img {
    width: 36px;
    height: 36px;
    transition: transform 0.3s ease,
     /*filter: brightness(0) invert(1); Rendre les icônes blanches */
    /*  filter 0.3s ease; */
}

.icon-social img:hover {
   transform: scale(1.1); /*   Légèrement agrandir au survol */
    /*filter: brightness(0.8) invert(0.8);  Ajuster la luminosité */
}


.cordonné {
     width: 100%;
    margin: 0 auto;
}
.ligne {
    display: flex; /* Aligne les éléments en ligne */
    align-items: center; /* Centre verticalement les éléments */
    margin-bottom: 0px; /* Espacement entre les lignes */
}
.ligne img {
    width: 40px; /* Ajustez la taille de l'image */
    height: 40px;
    margin-right: 0px; /* Espacement entre l'image et le texte */
}

.ligne p {
    margin: 0; /* Supprime les marges par défaut */
    font-size: 16px; /* Taille de la police */
    color: white; /* Couleur du texte */
    padding-left: 4px;
}

.menu-lateral a {
    display: block; /* Chaque lien sur une ligne */
    margin: 8px 0; /* Espacement vertical */
    padding: 10px 17px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
    background-color: #1e88e5; /* Bleu clair  */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu-lateral a:hover {
    background-color: #1565c0; /* Bleu foncé */
      transform: scale(1.05); /*Légèrement agrandir au survol */
}
/*  fin barre latérale */

/* debut titre */
.title-accueil {
    width: 100%;
 background-color: darkviolet;
 height: 57px;
margin-top: 20px;
margin-bottom: 20px;

}
.animation{
  width: 100%;
  font-size: 30px;
  text-align: center;
  color: white;
 height: 57px;
padding-top: 6px;
padding-bottom: 6px;
animation: rouler 10s linear infinite;

}

@keyframes rouler{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

/* fin titre */

/*  debut card en notre savoir faire  */

.div1 {  width: 100%;
         display: flex;
         justify-content: center; 

}

.card {  
    width: 100%;
    height: auto;
     padding-left: 15px;  
}

.card img {
    width: 100%;
    height: 160px;  
}
.card h4{
    font-size: 22px;
    background-color: black;
    text-align: center;
    width: auto;
    color: white;
    padding: 8px;
    margin-top: 12px;
}
 .card-text {
    padding-top: 18px;
    font-size: 20px;
    padding-left: 10px;
}

 .puce{
    font-size: 20px;
   margin-left: 18px;

}

  video{  
    width: 100%;
   height: 300px;
   
    display: block; /* Évite tout espace indésirable sous la vidéo */

}

.lien {
   top: 10px;
    margin-left: 35px;
    padding: 10px;
    width: 63%;
    font-size: 25px;
    color: white;
    background-color: rgba(255, 0, 0, 0.8);
    bottom: 20px;
    border: 2px solid green;
    border-radius: 10px;
}

.lien:hover {
    color: black;
}

.link {
   padding-bottom: 20px;
   height: 40px;
   padding: 10px; 
    width: 48%;
    font-size: 20px;
    color: white;
    background-color: rgba(255, 0, 0, 0.8);
    margin-bottom: 20px;
    border: 2px solid green;
    border-radius: 8px;
    display: inline-block;
}
.lien-video:hover, .link:hover{
    color: black;
}
.lien-video {
    padding-top: 10px;
    padding: 10px;
    width: 55%;
    font-size: 20px;
    color: white;
    background-color: rgba(255, 0, 0, 0.8);
    margin-bottom: 20px;
    border: 2px solid green;
    border-radius: 8px;
    display: inline-block;
}

/* slide produit */

.slider {
    width: 80%;
    height: auto;
    position: relative;
}
.slider img {
    height: 70%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
}

.slider img.active {
    opacity: 1;
}

#suivant, #precedent {
    color: red;
    font-size: 2rem;
    position: absolute;
    top: 32%;
    transform: translateY(-50%);
    cursor: pointer;

}

 #suivant {
    right: 1rem;
 margin-right: -20px;
}

 #precedent{
    left: 1rem;
    margin-left: -10px;

}

/*  fin card en notre savoir faire  */

/* parti responsssive */

@media only screen and (max-width: 500px) {



.slide-conteneur {
         flex-direction: column;
         width: 100%;
         justify-content: center;
}
.element > img{
  display: inline-block;
    width: 100%;
    height: auto;
    
   /* padding-top: 60px;
    padding-left: 20%; */
}
.caption{
    width: 100%;
    position: absolute;
    top: 48%;
    left: 48%;
    height: auto;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.0);
    display: inline-block; /* Nécessaire pour que le padding soit appliqué */
}
.caption h2 {
font-size: 28px;
color: white;
letter-spacing: 1px;
padding-left: 5px;
}
.caption p {
font-size: 25px;
color: white;
padding-top: 10px;
}
.caption a {
       padding: 2px;
        font-size: 18px;
        color: white;
        display: inline-block; /* rgba(255, 0, 0, 0.8); Nécessaire pour que le padding soit appliqué */
        background-color: blue;
        cursor: pointer;
        height: 30px;
        border: 2px solid green;
        border-radius: 10px;
        margin-top: 90px;
}
.title {
  font-size: 20px;
  background-color: darkviolet;
  color: white;

}
.animation{
  font-size: 20px;
  text-align: center;
  color: white;
  height: 45px;
  text-align: left;
  margin-top: 18px;
  margin-bottom: 18px;
  animation: rouler 8s linear infinite;
  flex-wrap: wrap;
}
.conteneur2 {
        width: 100%;
        height: auto;
        margin-left: 20px;
        margin-top: 15px;
}
.cordonné {
    width: 250px;
    height: auto;
}
.newsletter{
    width: 70%;
    height: 40px;
    margin-left: 20px;
   
}

.div1 {  width: 100%;
        flex-direction: column;
         justify-content: center;
         padding-top: 12px;  
}
.lien {
    top: 10px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 0px;
    width: 45%;
    font-size: 20px;
    color: white;
    background-color: rgba(255, 0, 0, 0.8);
    margin-bottom: 20px;
    border: 2px solid green;
    border-radius: 8px;
    display: inline-block;
}

.lien-video {
    
    padding-top: 10px;
    padding: 10px;
    padding-right: 0px;
    width: 45%;
    font-size: 20px;
    color: white;
    background-color: rgba(255, 0, 0, 0.8);
    margin-bottom: 20px;
    border: 2px solid green;
    border-radius: 8px;
    display: inline-block;
}
 .link {
   padding-bottom: 20px;
   height: 40px;
   padding: 10px; 
    width: 40%;
    font-size: 20px;
    color: white;
    background-color: rgba(255, 0, 0, 0.8);
    margin-bottom: 20px;
    border: 2px solid green;
    border-radius: 8px;
    display: inline-block;
}

}


/* fin barre latérale */

