

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins' sans-serif;

}
body{
  min-height: 100vh;
  background: url(../img/img.jpg) no-repeat;
  background-size: cover;
  background-position: center; 
}

/* debu menu et top-bar */

.menu-superieur{
text-align: center;
position: fixed;
  background: blue;
  width: 100%;
  height: 60px;
z-index: 1000;
padding: 5px;
}
.gauche{
  color: white;
  padding: 8px;
  font-size: 22px;

  }
.gauche:hover {
  background: black;
  background-size: black;

}
  

.top-bar{
  width: 100%;
  height: 60px;
line-height: 40px;

}
/* fin menu et top-bar */

header{
position: absolute;
width: 100%;
min-height: 66px;
background: red;
padding: 0 0px;
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
z-index: 1500;
}
 .logo{
  float: left;
  width: 300px;
  height: 88px;
 margin-right: 0px;
 padding-right: 0px;
}
header ul {
  position: relative;
}
header ul li {
  position: relative;
  list-style: none;
  float: left;
}
header ul li a {
 font-size: 21px;
 color: white;
 padding: 18px 10px;
 text-decoration: none;
 display: flex;
 justify-content: space-between;


}
header ul li a:hover {
 background: black;
 height: 80px;
 width: auto;
}

header ul li .selection1:hover {
 background: black;
 height: 80px;
 width: auto;
}

header ul li .selection2:hover {
 background: black;
 height: 80px;
 width: 223px;
}


header ul li ul {
 position: absolute;
 width: auto;
 background: red;
 display: none;
}

header ul li:hover ul {
display: block;
}



/* parti responsive */

@media (max-width: 500px){
  header {
    padding: 0 0px;
    height: 60px;
  }
  header nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 66px;
    background: mediumvioletred;
    display: none;
    height: 60px;
  }
  header.active nav {
    display: initial;
  }
  .gauche{
  color: white;
  padding: 6px;
  font-size: 18px;
text-align: left;
  }

 .logo{
  float: left;
  width: 250px;
  height: 70px;
margin-top: 0px;
margin-right: 0px;
}
   header nav ul li {
    width: 100%;
    height: 60px;
  }
   header nav ul li ul {
   position: relative;
   width: 100%;
   left: 0;
   height: 60px;
  }
   header ul li ul li {
    top: 0;
    left: 0;
   background: green;
   height: 60px;
  }
  header ul li .selection2:hover {
 background: black;
 height: 50px;
 width: auto;
}
.menuToggle{
  position: relative;
  width: 40px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.menuToggle::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: white;
  transform: translateY(-12px);
  box-shadow: 0 12px white;
}

.menuToggle::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: white;
  transform: translateY(12px);
}
header.active .menuToggle::before{
  transform: rotate(45deg);
  box-shadow: 0 0 white;
}
header.active .menuToggle::after{
  transform: rotate(315deg);
  
}
 
}